/* Setup global variables */
:root {
  /* Color Scheme */
  --gray-25: #fcfcfd;
  --gray-100: #d0d5dd;
  --gray-800: #1d2939;
  /* Neutral */
  --neutral-900: #101828;
  --neutral-800: #1D2939;
  --neutral-700: #101828;
  --neutral-600: #475467;
  --neutral-500: #667085;
  --neutral-400: #98A2B3;
  --neutral-300: #D0D5DD;
  --neutral-200: #EAECF0;
  --neutral-100: #F2F4F7;
  --neutral-50: #F9FAFB;
  /* Primary */
  --primary-900: #1B369A;
  --primary-800: #324AA4;
  --primary-700: #495eae;
  --primary-600: #5f72b8;
  --primary-500: #7686c2;
  --primary-400: #8d9bcd;
  --primary-300: #a4afd7;
  --primary-200: #bbc3e1;
  --primary-100: #D1D7EB;
  --primary-50: #020202;
  /* Secondary */
  --secondary-900: #F9623B;
  --secondary-800: #FA724F;
  --secondary-700: #FA8162;
  --secondary-600: #FB9176;
  --secondary-500: #FBA189;
  --secondary-400: #FCB19D;
  --secondary-300: #FDC0B1;
  --secondary-200: #FDD0C4;
  --secondary-100: #FEE0D8;
  --secondary-50: #FEEFEB;
  /* Success */
  --success-900: #14532D;
  --success-800: #166534;
  --success-700: #15803D;
  --success-600: #16A34A;
  --success-500: #22C55E;
  --success-400: #4ADE80;
  --success-300: #86EFAC;
  --success-200: #BBF7D0;
  --success-100: #DCFCE7;
  --success-50: #F0FDF4;
  /* Warning */
  --warning-900: #78350F;
  --warning-800: #92400E;
  --warning-700: #B45309;
  --warning-600: #D97706;
  --warning-500: #F59E0B;
  --warning-400: #FBBF24;
  --warning-300: #FCD34D;
  --warning-200: #FDE68A;
  --warning-100: #FEF3C7;
  --warning-50: #FFFBEB;
  /* Danger */
  --danger-900: #7F1D1D;
  --danger-800: #991B1B;
  --danger-700: #B91C1C;
  --danger-600: #DC2626;
  --danger-500: #EF4444;
  --danger-400: #F87171;
  --danger-300: #FCA5A5;
  --danger-200: #FECACA;
  --danger-100: #FEE2E2;
  --danger-50: #FEF2F2;
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
@layer base {
  /* Button component */
  /* Defaults to primary */
  button { @apply rounded-full inline-block text-base py-2.5 px-5 bg-neutral-100 transition-all; }
  button:hover,
  button:focus-visible {
    @apply outline-8 outline-neutral-50;
  }

  button.primary { @apply bg-primary-900 text-white; }
  button.primary:hover,
  button.primary:focus-visible {
    @apply outline-primary-400 bg-primary-900;
  }

  /* Other button styles */
  button.secondary { @apply bg-secondary-900 text-white; }
  button.secondary:hover,
  button.secondary:focus-visible {
    @apply outline-secondary-400 bg-secondary-900;
  }
  button.success { @apply bg-success-500 text-white; }
  button.success:hover,
  button.success:focus-visible {
    @apply outline-success-400 bg-success-500;
  }
  button.warning { @apply bg-warning-500 text-white; }
  button.warning:hover,
  button.warning:focus-visible {
    @apply outline-warning-400 bg-warning-500;
  }
  button.danger { @apply bg-danger-500 text-white; }
  button.danger:hover,
  button.danger:focus-visible {
    @apply outline-danger-400 bg-danger-500;
  }

  button.line { @apply bg-white border border-neutral-300 text-neutral-600; }
  button.line.primary { @apply border-primary-900 text-primary-900; }
  button.line.secondary { @apply border-secondary-900 text-secondary-900; }
  button.line.success { @apply border-success-500 text-success-500; }
  button.line.warning { @apply border-warning-500 text-warning-500; }
  button.line.danger { @apply border-danger-500 text-danger-500; }
  button.line:not(.primary, .secondary, .success, .danger, .warning):hover,
  button.line:not(.primary, .secondary, .success, .danger, .warning):focus-visible {
    @apply outline-neutral-100 bg-neutral-300;
  }
  button.line:is(.primary, .secondary, .success, .danger, .warning):hover,
  button.line:is(.primary, .secondary, .success, .danger, .warning):focus-visible {
    @apply text-white;
  }

  button.small { @apply py-2.5 px-4 text-sm; }
  button.large { @apply py-3 py-6 text-lg; }

  /* Typography */
  .display { @apply text-5xl leading-relaxed; }
  h1, .h1 { @apply text-h1 leading-relaxed; }
  h2, .h2 { @apply text-h2 leading-relaxed; }
  h3, .h3 { @apply text-h3 leading-relaxed; }
  h4, .h4 { @apply text-h4 leading-relaxed; }
  h5, .h5 { @apply text-h5 leading-relaxed; }
  h6, .h6 { @apply text-h6 leading-relaxed; }
  /* For paragraphs just use text-sm text-lg and text-base */

  /* Form controls */
  label {
    @apply flex flex-col w-full;
  }

  label > span,
  label .label {
    @apply font-medium text-sm text-gray-700 inline-flex gap-1 self-start mb-1.5 relative;
  }

  label.required > span:after,
  label.required .label:after {
    content: '*';
    @apply text-danger-500;
  }

  label > input:not([type="radio"]),
  .radioButton {
    @apply flex items-center gap-2 relative border rounded-3xl py-3.5 px-6 h-13 bg-white border-gray-300 text-sm transition-all;
  }

  label > input:focus,
  label > input:focus-visible { @apply outline outline-4 outline-gray-100; }

  /* Contents */
  .panel { @apply p-6 rounded-3xl border border-gray-300; }
}

@layer components {
  /* Avatar component style */
  .avatar,
  .avatar .text { @apply inline-flex items-center justify-center h-16 w-16 rounded-full relative overflow-hidden; }
  
  .avatar.default,
  .avatar .text { @apply h-11 w-11; }
  
  .avatar.small,
  .avatar .text { @apply h-6 w-6; }
  
  .avatar.initials { @apply bg-gray-300 text-gray-400 text-xl; }
  .avatar.initials.small { @apply text-xs; }
  .avatar.initials.default { @apply text-lg; }
}

*, html {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
